@font-face {
  font-family: 'sans';
  src: url(./assets/fonts/AeronomicSans-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'sans' !important;
}

html,
body {
  max-width: 2000px;
  margin: auto;
  overflow-x: hidden;
}

header {
  height: 100vh;
  padding-top: 120px;
}

.img-container:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  right: 0;
}
.img-container2:after {
  position: absolute;
  content: '';
  width: 60%;
  height: 100%;
  background: #fff;
  top: 0;
  right: 0;
}
.img-container img {
  width: 440px;
  margin: 0 auto;
}

.img-container2 img {
  width: 60%;
  margin: 0 auto;
}
